body {
  .contentWrapper {
    .navigation {
      .mobileNav {
        padding: 3rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
        }
        .hamburger {
          .icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
              background-color: lighten($gray, 24%);
              transition: all 0.2s;
            }
            i {
              color: $gray-violet;
              font-size: 28px;
            }
          }
          .menuWrap {
            .menu {
              padding: 2rem;
              width: 90%;
              position: absolute;
              background-color: $dark-violet;
              left: 5%;
              border-radius: 1rem;

              display: flex;
              flex-direction: column;
              .link {
                color: #ffffff;
                text-decoration: none;
                font-family: $family;
                font-size: 21px;
                font-weight: 500;
                text-align: center;
                margin-bottom: 1.25rem;
              }
              .divider {
                border-top: 1px solid lighten($dark-violet, 10%);
                width: 100%;
                margin: 0 0 1.25rem 0;
              }
              .signUp {
                @include greenCta;
                margin-top: 0.75rem;
              }
            }
          }
        }
      }
      .deskNav {
        display: none;
        .left {
          .logo {
          }
          .link {
          }
        }
        .right {
          .link {
          }
          .signUp {
          }
        }
      }
    }
    .mainContent {
    }
    .foot {
    }
  }
}

.disabled {
  display: none;
}
