:root {
  font-family: $family;
}
body {
  .contentWrapper {
    .navigation {
      .mobileNav {
        padding: 3rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
        }
        .hamburger {
          .icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            cursor: pointer;
            &:hover {
              background-color: lighten($gray, 24%);
              transition: all 0.2s;
            }
            &.hamActive {
              background-color: lighten($gray, 14%);
            }
            i {
              color: $gray-violet;
              font-size: 28px;
            }
          }
          .menuWrap {
            .menu {
              padding: 2rem;
              width: 90%;
              position: absolute;
              background-color: $dark-violet;
              left: 5%;
              top: 7rem;
              border-radius: 1rem;

              display: flex;
              flex-direction: column;
              .link {
                color: #ffffff;
                text-decoration: none;
                font-family: $family;
                font-size: 21px;
                font-weight: 500;
                text-align: center;
                margin-bottom: 1.25rem;
              }
              .divider {
                border-top: 1px solid lighten($dark-violet, 10%);
                width: 100%;
                margin: 0 0 1.25rem 0;
              }
              .signUp {
                @include greenCta;
                margin-top: 0.75rem;
              }
            }
          }
        }
      }
      .deskNav {
        display: none;
        .left {
          .logo {
          }
          .link {
          }
        }
        .right {
          .link {
          }
          .signUp {
          }
        }
      }
    }
    .mainContent {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto auto;
      grid-template-areas:
        "hero"
        "cta"
        "input"
        "stat"
        "cards"
        "boost";
      .heroImg {
        grid-area: hero;

        svg {
          width: 100%;
        }
      }
      .cta {
        grid-area: cta;
        margin-bottom: 10rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font-size: 2.75rem;
          text-align: center;
          line-height: 3.35rem;
          margin-bottom: 1rem;
        }
        h3 {
          width: 30ch;
          font-size: 1.15rem;
          color: $gray-violet;
          font-weight: 400;
          text-align: center;
          margin-bottom: 2rem;
        }
        .ctaBtn {
          @include greenCta;
          text-decoration: none;
          font-weight: 500;
        }
      }
      .inputWrapper {
        background-color: lighten($gray, 20%);
        padding: 1rem;
        .inputWrap {
          grid-area: input;

          padding: 1.5rem;
          margin-top: -6rem;
          margin-bottom: 2rem;
          background-color: $dark-violet;
          background-image: url("../../images/bg-shorten-mobile.svg");
          background-repeat: no-repeat;
          background-size: 60% 80%;
          background-position: right top;
          border-radius: 1rem;

          display: flex;
          flex-direction: column;
          .urlInput {
            height: 3rem;
            border: none;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
            padding-left: 1rem;
          }
          .urlSubmit {
            height: 3rem;
            border: none;
            background-color: $cyan;
            border-radius: 0.5rem;
            color: #ffffff;
            font-weight: 700;
          }
        }
        .shortenOutput {
          display: flex;
          flex-direction: column;
          .shortLinkGroup {
            margin-bottom: 2rem;
            background-color: #ffffff;
            border-radius: 0.5rem;
            display: flex;
            flex-direction: column;
            :is(.original, .linkGroup) {
              padding: 1rem;
              font-size: 1rem;
              font-weight: 500;
            }
            .original {
              border-bottom: 1px solid #eee;
            }
            .linkGroup {
              display: flex;
              flex-direction: column;
              .shortCode {
                color: $cyan;
                margin-bottom: 1rem;
              }
              .copyBtn {
                border: none;
                background-color: $cyan;
                padding: 1rem 3rem;
                border-radius: 0.5rem;
                color: #ffffff;
              }
            }
          }
        }
      }
      .advStat {
        grid-area: stat;
        background-color: lighten($gray, 20%);

        padding-bottom: 6rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        :is(h2, h4) {
          text-align: center;
        }

        h2 {
          font-size: 1.85rem;
          font-weight: 700;
          margin-bottom: 0.5rem;
        }
        h4 {
          width: 30ch;
          color: $gray-violet;
          font-size: 1rem;
          font-weight: 500;
        }
      }
      .cardWrap {
        grid-area: cards;
        background-color: lighten($gray, 20%);
        padding: 1rem 1rem 4rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .card {
          background-color: #ffffff;
          padding: 0 2rem 3rem 2rem;
          border-radius: 0.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          .icon {
            width: 80px;
            height: 80px;
            margin: -2.2rem 0 2rem 0;
            background-color: $dark-violet;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
            }
          }
          h3 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
          }
          p {
            width: 28ch;
            text-align: center;
          }
        }
        .divider {
          width: 8px;
          height: 100px;
          border-right: 4px solid $cyan;
          border-left: 4px solid $cyan;
        }
      }
      .boost {
        grid-area: boost;
      }
    }
    .foot {
    }
  }
}

.disabled {
  display: none;
}
